* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Open Sans", sans-serif;
}
ul li{
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
    transition: 0.2s;
}
button, input, textarea{
    display: block;
    font: inherit;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
    color: rgb(255, 255, 255, 1);
}
img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}
.container {
    max-width: 1202px;
    margin: 0 auto;
}
.btn{
    margin: 0 auto;
    background-color: rgba(37, 66, 142, 1);
    border-radius: 5px;
}
.section-title{
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font: 300 46px "Open Sans", sans-serif;
}
.section-title::after{
    display: block;
    content: '';
    height: 1px;
    width: 40px;
    background-color: rgb(255, 255, 255, 1);
    margin: 28px auto 0;
}
/*Header*/
#header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 14px 0 0;
}
.header-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(181, 181, 181, 1);
}
.header-logo img{
    width: 100%x;
    height: 100%;
}
.header-list{
    display: flex;
    gap: 36px;
}
.header-item a{
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
}
.header-item a:hover{
    color: rgba(37, 66, 142, 1);
}
/*Banner Section*/
#banner-section{
    padding-top: 97px;
    background: linear-gradient(to right,rgba(234, 59, 101, 1),rgba(144, 53, 199, 0.64));
}
.banner-wrap{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 545px;
    margin: 0 auto;
    color: rgb(255, 255, 255, 1);
}
.banner-title{
    font-weight: 300;
    font-size: 54px;
}
.banner-text{
    color: rgba(210, 208, 208, 1);
    line-height: 157%;
    max-width: 440px;
    margin: 22px auto 24px;
}
.banner-btn{
    margin-bottom: 89px;
    padding: 14px 68px;
}
.banner-btn:hover{
    background-color: rgb(255, 255, 255);
    color: rgba(37, 66, 142, 1);
    border: 2px solid rgba(37, 66, 142, 1);
}
.banner-img{
    margin: 0 auto;
    width: 492px;
    height: 226px;
}
/*Quality Section*/
#quality-section {
    padding: 83px 0 74px;
}
.quality-wrap {
    display: flex;
    flex-wrap: wrap;
}
.quality {
    padding: 77px 160px 62px;
    text-align: center;
    width: 601px;
}
.quality:first-child, .quality:nth-child(2){
    border-bottom: 1px solid #D9D9D9;
}
.quality:first-child, .quality:nth-child(3){
    border-right: 1px solid #D9D9D9;
}
.quality-img{
    margin: 0 auto;
    width: 74px;
    height: 74px;
}
.quality-title{
    margin: 18px 0 25px; 
    font: 700 22px "Open Sans", sans-serif;
}
.quality-text{
    color: rgba(180, 179, 179, 1);
    line-height: 170%;
    max-width: 278px;
}

/*rate Section*/
#rate-section{
    padding: 86px 0 116px;
    background: linear-gradient(to right,rgba(234, 59, 101, 1),rgba(144, 53, 199, 0.64));
}
.rate-wrap{
    margin-top: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rate{
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 1px 11px 0 rgba(43, 40, 40, 0.07);
    padding: 35px 31px 55px;
    border-radius: 5px;
    text-align: center;
}
.rate:nth-child(2){
    padding: 47px 31px 54px;
}
.rate-title{
    font: 400 24px "Open Sans", sans-serif;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 1);
}
.rate-price{
    display: block;
    margin: 13px 0 26px;
    color: rgba(234, 59, 101, 1);
    font: 700 46px "Open Sans", sans-serif;
}
.rate-item{
    margin-bottom: 20px;
    list-style: inside;
    font: 300 16px "Open Sans",sans-serif;
    text-align: left;
}
.rate-btn{
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    padding: 14px 40px;
    border: 2px solid rgba(37, 66, 142, 1);
    color: rgba(37, 66, 142, 1);
}
.rate-btn:hover{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(37, 66, 142, 1);
}
.rate:nth-child(2){
    background-color: rgba(37, 66, 142, 1);
    color: rgb(255, 255, 255);
}
.rate:nth-child(2) .rate-title{
    color: rgb(255, 255, 255);
}
.rate:nth-child(2) .rate-price{
    color: rgb(255, 255, 255);
}
/*Form Section*/
#form-section{
    padding: 91px 0 92px;
    background-color: rgba(249, 249, 249, 1);
}
.form-wrap{
    display: flex;
    align-items: center;
    gap: 58px;
}
.form-title{
    position: relative;
    font: 700 42px "Open Sans", sans-serif;
    color: rgba(0, 0, 0, 1);
}
.form-title::before{
    position: absolute;
    content: '';
    width: calc(100% - 26px);
    height: 1px;
    top: 26px;
    left: -100%;
    background-color: rgba(231, 61, 107, 1);
}
.form-text{
    margin: 23px 0 63px;
    font-size: 18px;
    color: rgba(150, 150, 150, 1);
    line-height: 190%;
    max-width: 505px;
}
.form-img{
    width: 583px;
    height: 296px;
}
.form-right form{
    display: flex;
    flex-direction: column;
    gap: 27px;
    padding: 53px 44px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 -1px 8px 4px rgba(88, 83, 83, 0.12);
    border-top: 10px solid rgba(37, 66, 142, 1);
    border-radius: 5px;
} 
.form-input{
    font-family: "Open Sans", sans-serif;
    width: 396px;
    color: rgba(159, 159, 159, 1);
    padding: 20px 0 17px 28px;
    background-color: rgba(246, 246, 246, 1);
}
.form-btn{
    color: rgba(255, 255, 255, 1);
    font: 400 18px "Open Sans",sans-serif;
    padding: 18px 97px;
}
.form-btn:hover{
    color: rgba(37, 66, 142, 1);
    background-color: rgb(255, 255, 255);
    border: 2px solid rgba(37, 66, 142, 1);
}
/*Copyright*/
#cop{
    padding: 31px 0 34px;
    background-color: rgba(43, 38, 38, 1);
}
.cop-text{
    text-align: center;
    font: 300 14px "Open Sans", sans-serif;
    color: rgba(217, 216, 216, 1);
}
.cop-text span{
    font-weight: 700;
}
@media (orientation: portrait) {
    body{
        font-size: 14px;
    }
    .container{
        max-width: 317px;
    }
    /*Banner-section*/
    #banner-section{
        padding-top: 90px;
    }
    .banner-title {
        font: 300 28px "DM Sans", sans-serif;
    }
    .banner-text{
        margin: 16px 0;
    }
    .banner-btn{
        padding: 12px 55px;
        margin-bottom: 74px;
    }
    .banner-img{
        width: 313px;
        height: 144px;
    }
    /*Quality section*/
    #quality-section{
        padding: 79px 0;
    }
    .quality{
        padding: 57px 41px;
    }
    .quality:first-child, .quality:nth-child(2){
        border-right: none;
    }
    .quality:nth-child(3){
        border-bottom: 1px solid #D9D9D9;
        border-right: none;
    }
    .quality-img{
        width: 68px;
        height: 68px;
        margin-bottom: -3px;
    }
    .quality-title{
        font-size: 17px;
    }
    .quality-text{
        font-size: 14px;
        width: 237px;
    }
    /*.quality-wrap{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
    .quality:first-child{
        grid-column: 1/2;
        grid-row: 1/2;
        border: none;
        border-bottom: 1px solid #D9D9D9;
    }
    .quality:nth-child(2){
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .quality:nth-child(3){
        grid-column: 1/2;
        grid-row: 3/4;
        border: none;
    }
    .quality:nth-child(4){
        grid-column: 1/2;
        grid-row: 4/5;
        border-top: 1px solid #D9D9D9;
    }
    .quality-img{
        width: 68px;
        height: 68px;
        margin-bottom: -3px;
    }
    .quality-title{
        font-size: 17px;
    }
    .quality-text{
        font-size: 14px;
        width: 237px;
    }*/
    /*Rate-section*/
    #rate-section{
        padding: 48px 0 72px;
    }
    .section-title{
        font-size: 38px;
        margin-bottom: -16px;
    }
    #rate-section .section-title::after{
        margin: 19px auto 0;
    }
    .rate-wrap{
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    .rate{
        padding: 29px 25px 45px;
        width: 320px;
    }
    .rate:nth-child(2){
        padding: 39px 25px 44px;
    }
    .rate-title{
        font-size: 19px;
        margin: -3px 0 -4px;
    }
    .rate-price{
        font-size: 38px;
    }
    .rate-item {
        font-size: 13px;
    }
    .rate-btn{
        padding: 12px 32px;
    }
    /*Form section*/
    #form-section{
        padding: 56px 0 40px;
        background-color: #FFFFFF;
    }
    .form-wrap{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .form-title{
        position: relative;
        text-align: center;
        font-size: 38px;
    }
    .form-title::before{
        position: absolute;
        top: calc(100% + 25px);
        left: calc(50% - 20px);
        width: 40px;
    }
    .form-text{
        margin-top: 62px;
        text-align: center;
        font-size: 14px;
    }
    .form-img{
        margin-top: -33px;
        width: 320px;
        height: 162px;
    }
    .form-right form{
        padding: 39px 22px 44px;
    }
    .form-input{
        width: 276px;
        font-size: 14px;
    }
    .form-btn{
        padding: 17px 100px;
        font-size: 16px;
    }
}